<nav aria-label="breadcrumb" class="breadcrumb_nav">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Edit {{post.postName}}</li>
  </ol>
</nav>

<div class="content">
  <div class="container">

    <div class="row">
      <div class="col-md-5">
        <div class="add_post_image">
          <img src="../../../../assets/photo-1519337265831-281ec6cc8514.jpg">
        </div>
      </div>
      <div class="col-md-7">

        <form #editPostForm="ngForm" (ngSubmit)="onSubmit(editPostForm)">

          <div class="form-group">
            <label>Post name <span style="color: #f00;">*</span>:</label>
            <input type="text" class="form-control" placeholder="Post name" [(ngModel)]="post.postName" name="postName"
              #postName="ngModel" required>
          </div>

          <div class="form-group">
            <label>Your name <span style="color: #f00;">*</span>:</label>
            <input type="text" class="form-control" placeholder="Post description" [(ngModel)]="post.postAuthor"
              name="postAuthor" #postAuthor="ngModel" required>
          </div>

          <div class="form-group">
            <label>Post breif description <span style="color: #f00;">*</span>:</label>
            <input type="text" class="form-control" placeholder="Post breif description"
              [(ngModel)]="post.post_brief_desc" name="post_brief_desc" #post_brief_desc="ngModel" required>

          </div>

          <div class="form-group">
            <label>Post description <span style="color: #f00;">*</span>:</label>
            <textarea type="text" class="form-control" placeholder="Post description" [(ngModel)]="post.postDesc"
              name="postDesc" #postDesc="ngModel" required></textarea>
          </div>

          <input type="submit" value="Save" class="save btn btn-primary">

        </form>
      </div>
    </div>
  </div>
</div>